*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor .header {
    background-color: #03102c;
    color: beige;
    margin:0.3%;
    padding: 0.3%;
}
.contenedor .header .nav{
    background-color: rgb(181, 215, 243);
    border-radius: 5px;
    margin: 0.3%;
    padding: 0.3%;
    font-size: 1.5vw;
    left: 0;
}
.contenedor .header .nav a{
    text-decoration: none;
    color: black;
}
.inline{
    display:inline-block
}
.footer h3{
    background-color: #03102c;
    color: #f5f5dc;
    padding: 10px;
    text-align: center;
    font-size: small;
}