*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor .header {
    background-color: #03102c;
    color: beige;
    margin:0;
    padding: 0;
    height: auto;
}

.contenedor .header h5{
    padding-top: 5px;
    margin: 5px;
}

.contenedor .header .nav{
    background-color: #088f88;
    padding: 8px;
    font-size: 1.5vw;
    display: block;
    text-align: left;
    
}
.contenedor .header .nav a{
    text-decoration: none;
    color: white;
    font-family: 'barlow', sans-serif;
    font-size: 18px;
    padding: 2px;
}

.contenedor .header .nav :hover{
    background-color: #f5f5dc;
    color: #03102c;
    border-radius: 4px;
    padding: 2px;
}


.inline{
    display:inline-block
}

.footer{
    font-size: 12px;
    background-color: #03102c;
    font-family: 'Raleway', sans-serif;
    color: #f5f5dc;
    width: 100%;
    padding: 40px;
    height: 30px;
    text-align: center;
    bottom: 0;
    left: 0;
    position: fixed;
}

.contenedor .header h1{
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
    padding-top: 10px;
}

.contenedor .header h4{
    font-family: 'Barlow', sans-serif;
    padding: 10px;
    font-size: 18px;
}

.contenedor .contenido {
    padding: 10px;
}

.fa-instagram, .fa-square-twitter, .fa-square-facebook, .fa-square-pinterest,.fa-linkedin
{    text-decoration: none;
    color: #f5f5dc;
    font-size: 1.5vw;
}

